section.chitiet {
    width: 100%;
    height: 520px;
    margin: 0 auto;
    position: relative;
}

section.chitiet .hinh {
    width: 420px;
    height: 520px;
    margin: 0 auto;
    float: left;
}

section.chitiet .hinh .hinhlon {
    width: 420px;
    height: 420px;
    margin: 0 auto;
}

section.chitiet .hinh .hinhlon img {
    width: 420px;
    height: 420px;
    margin: 0 auto;
}

section.chitiet .hinh .hinhnho {
    width: 420px;
    height: 71px;
    margin: 0 auto;
    text-align: center;
}

section.chitiet .hinh .hinhnho img {
    width: 61px;
    height: 71px;
    margin: 0 auto;
}

section.chitiet .hinh .hinhnho img:hover {
    cursor: pointer;
}

section.chitiet .thongtin {
    width: 620px;
    height: 520px;
    margin: 0 auto;
    float: left;
}

.price {
    font-family: 'UTMCafeta', Arial, sans-serif;
    font-size: 30px;
    color: #db0000;
    line-height: 30px;
}

.hinh_theo_mau {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 10px;
}

.hinh_theo_mau img {
    width: 20px;
    background-clip: padding-box;
}

.hinh_theo_mau img:hover {
    cursor: pointer;
}